body{
	margin: 0;	
}
a{
	text-decoration: none;
}

.background{
	width:100%;
	height:100vh;
	background-image: url('backgroundimg.jpg');
	background-size: cover;
	background-position: center;
	position: absolute;
}
.navbar-container a {
	color:white;
}
#main-wrapper {
	width:100vw;
	font-family: Roboto;
}
.navbar-container {
	padding-top: 10px;
	width:100vw;
	height:auto;
	display:flex;
	justify-content: space-between;
	text-align:center;
}
.home-button {
	font-size:2em;
}
.secondary-button {
	font-size:1.5em;
	padding-right: 20px;
	padding-left: 20px;
	height:7vh;
	line-height: 7vh;
}
.secondary-button:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
	margin-top:-7px;
}
.secondary-button:hover:after {
	width: 100%;
	background: white;
}
.home-button {
	height:10vh;
	transition-duration: 0.5s;
}
.home-button:hover {

}
.logo{

}
.container{
	padding-top: 15%;
}
.img{
	max-height: 250px;
	min-height: 250px;
}
.title{
	color: white;
	float:;
	margin-left: %;
}
.info{
	position: 
	color: white;
}
.title2{
	float:;
}
.txt{
	color: white;
	float: left;
	margin-left: 5%;
	max-width: 60%;
}
.list{

}
.W1{
	margin: auto;
	color: white;
	text-align: center;
	max-width: 40%;
}